[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BranchGLM"]
	path = BranchGLM
	url = https://github.com/jacobseedorff21/branchglm
